<h1>Listing blogors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogors.each do |blogor| %>
  <tr>
    <td><%= blogor.name %></td>
    <td><%= blogor.content %></td>
    <td><%= link_to 'Show', blogor %></td>
    <td><%= link_to 'Edit', edit_blogor_path(blogor) %></td>
    <td><%= link_to 'Destroy', blogor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blogor', new_blogor_path %>
